Create a function to add two numbers

In [5]:
def add(a,b): #def--->define and is a keyword in PYTHON

  c=a+b

  print(c)

In [6]:
add(4,8)

12

In [7]:
add(78,90)

168

In [8]:
add(34,56)

90

Create a function which multiplies and divides two numbers

In [9]:
def compute(a,b):

  m=a*b

  d=a/b

  print(m,d)

In [10]:
compute(5,8)

40 0.625

Create a function which takes name and age of a person as input ad display the name of the person

In [12]:
def info(name,age):
  print('the name is',name)

In [13]:
info('rohit',32)

the name is rohit

In [14]:
info('meera',26)

the name is meera

Create a function which takes name and age of a person as input ad display the age of the person. Incase the age is not given by the user, display the default age as 25years

In [19]:
def info(name,age='25'):
  print('age of the person is',age,'years')

In [21]:
info('akash')

age of the person is 25 years

In [23]:
info('sheena',21)

age of the person is 21 years

Create a function which takes name and salary of a person as input ad display the salary of the person. Incase salary is not mentioned, display 10000 as default salary

In [24]:
def data(name,salary=10000):
  print('salary is',salary,'rupees')

In [25]:
data('john',20000)

salary is 20000 rupees

In [26]:
data('michel')

salary is 10000 rupees

Types of Arguments:

1. Arbitrary Arguments

2. Keyword Arguments

3. Arbitrary Keyword Arguments

In [27]:
#arbitrary arguments
def func1(*child):
  print("youngest child is",child[2])

In [28]:
func1('Joseph','Michel','Meera','Sheena','George')

youngest child is Meera

In [29]:
#keyword arguments
def func2(child2,child1,child3):
  print("youngest child is",child3)

In [30]:
func2(child1='Joseph',child2='Michel',child3='Meera')

youngest child is Meera

In [31]:
#arbitrary keyword arguments
def func3(**names):
  print("his last name is",names['lname'])

In [32]:
func3(fname='Aashutosh',mname='Kumar',lname='Mishra')

his last name is Mishra